html {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
body {
    
    margin: 5%;
    /*background:#1d2748;*/
    font-family:Tahoma, Geneva, sans-serif;
    text-align: center;
    overflow:hidden;
    /*background: rgb(2,0,36);*/
    
}
h1 {
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    line-height: 100%;
}
p,h2,h3 {
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    line-height: 150%;
}
form {
    line-height: 150%;
}
form input {
    font-size: x-large;
}